.button {
    border: none;
    background-color: #30110D;
    color: #F1EDE6;
    font-family: 'open-sauce-bold';
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.6rem;
}