input[type="text"], input[type="email"], input[type="tel"], input[type="lastName"] {
    border: 1px solid #30110D;
    background-color: white;
    padding: 2px 10px;
    color: #30110D;
    outline: auto;
}

.information-box select {
    margin: 0.7rem 0 0 2rem;
    border: 2px solid #30110D;
    border-radius: 5px;
    padding: 2px 10px;
    font-family: 'open-sauce-light';
    font-weight: 400;
    background-color: white;
    color: #30110D;
    display: inline-block;
}





/* Esta parte no está funcionando, quiero cambiarle la opacidad al texto. 
select option {
    opacity: 0.5;
}